//Mixin
@mixin titulo($size,$color){
	font-size: $size;
	font-family: $fuenteTitulo;
	color: $color;
	padding-top: 10px;
	text-transform: uppercase;
	@if $size == 1.5em {font-weight: 600}
	@if $size == 1em {font-weight: 400}
}

//Map
$imagenesSlider:(
	'1': url(../img/header.jpg),
    '2': url(../img/actividades1.jpg),
    '3': url(../img/actividades2.jpg),
    '4': url(../img/actividades3.jpg),
    '5': url(../img/fondo2.jpg),
	);