<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todas las noticias relacionadas a nosotros</title>
        <meta name="description" content="Enterate de lo que pasa dentro y fuera de la academia con los deportistas que nos representan">
        <meta name="keywords" content="Tenis,academia de tenis,aprendizaje,deporte,entrenamiento,competición,noticias">
        <link rel="shortcut icon" href="../img/favicon.png">
        <!-- Bootstrap --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Mi css -->
        <link rel="stylesheet" href="../estilo/main.css">
    </head>

    <body class="cuerpoNoticia">
        <!-- Inicio NAV -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="" class="tamLogo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link agrandar" aria-current="page" href="../index.html">Principal</a>
                <a class="nav-link agrandar" href="historia.html">Historia</a>
                <a class="nav-link active agrandar" href="noticias.html">Noticias</a>
                <a class="nav-link agrandar" href="actividades.html">Actividades</a>
                <a class="nav-link agrandar" href="ranking.html">Ranking</a>
                <a class="nav-link agrandar" href="contacto.html">Contacto</a>
                <a class="nav-link agrandar" aria-current="page" href="index.html"><img src="../img/facebook.png" class="tamIconos"></a>
                <a class="nav-link agrandar" aria-current="page" href="index.html"><img src="../img/instagram.png" class="tamIconos"></a>
                <a class="nav-link agrandar" aria-current="page" href="index.html"><img src="../img/whatsapp.png" class="tamIconos"></a>
              </div>
            </div>
          </div>
        </nav>
        <!-- Fin NAV -->

        <header></header>

        <aside class="barraNoticias">
            <div class="noticiasMasLeidas">
                <div class="tituloMasLeidas">
                    <h4>MÁS LEÍDAS</h4>
                </div>              
                <div>
                   <ul class="list-group list-group-numbered">
                      <li class="list-group-item">Título de la noticia</li>
                      <li class="list-group-item">Título de la noticia</li>
                      <li class="list-group-item">Título de la noticia</li>
                      <li class="list-group-item">Título de la noticia</li>
                      <li class="list-group-item">Título de la noticia</li>                    
                    </ul>
                </div>
            </div>
            <div id="contSponsor">
                <h4>NOS APOYAN</h4>
                <div id="sponsor">
                    <img src="../img/sponsors/1.png" alt="logo de asics">
                </div>
                <div id="sponsor">
                    <img src="../img/sponsors/2.png" alt="logo de dunlop">
                </div>
                <div id="sponsor">
                    <img src="../img/sponsors/3.png" alt="logo de tennis point">
                </div>
                <div id="sponsor">
                    <img src="../img/sponsors/4.png" alt="logo de slinger">
                </div>
                <div id="sponsor">
                    <img src="../img/sponsors/5.png" alt="logo de tennis europe">
                </div>
                <div id="sponsor">
                    <img src="../img/sponsors/6.png" alt="logo de halo">
                </div>
            </div>
        </aside>

        <main class="fondo1">
            <div class="tituloNoticias">
                <h2 class="blanco">Noticias de la Academia</h2>
            </div>  
            <section>
                <div class="contenedorNoticias">
                    <article>
                        <div class="noticia">
                            <img src="../img/noticias/noticia5.jpg" alt="dolgopolov pegando un drive" class="anchoImgNoticias">
                            <h3>Título de la noticia</h3>
                            <p>El tenista argentino Diego Schwartzman se despidió a las primeras de cambio del ATP 500 Hamburgo 2022, después de caer ante el finlandés Emil Ruusuvouri por un marcador de 7-5 y 6-4 en dos horas y 22 minutos de juego, en un partido muy disputado...</p>
                        </div>     
                    </article>
                    <article>          
                        <div class="noticia">
                            <img src="../img/noticias/noticia1.jpg" alt="zverev y thiem" class="anchoImgNoticias">
                            <h3>Título de la noticia</h3>
                            <p>El tenista español Jaume Munar consiguió el pase a los octavos de final del ATP 250 Gstaad 2022, al derrotar en el duelo fratricida español a su compatriota Bernabé Zapata por 6-3, 3-6 y 7-5 en dos horas y 26 minutos de juego, en un partido muy...</p>
                        </div>                
                    </article>
                    <article>
                        <div class="noticia">
                            <img src="../img/noticias/noticia3.jpg" alt="gonzalez posando con la medalla" class="anchoImgNoticias">
                            <h3>Título de la noticia</h3>
                            <p>Se abrió la vida de los documentales de Netflix en el mundo del tenis y Nick Kyrgios será la figura protagonista de uno muy especial. Durante todo Wimbledon 2022, las cámaras de la plataforma audiovisual siguieron al australiano, dentro y fuera...</p>
                        </div>                  
                    </article>
                </div>
                <div class="contenedorNoticias">
                    <article>
                        <div class="noticia">
                            <img src="../img/noticias/noticia2.jpg" alt="dolgopolov pegando un drive" class="anchoImgNoticias">
                            <h3>Título de la noticia</h3>
                            <p>Rafael Nadal se ha recuperado antes y mejor de lo esperado de su problema en el músculo abdominal que le obligó a retirarse de la semifinal de Wimbledon 2022. El español no hace más que enviar señales halagüeñas de su estado físico y de la...</p>
                        </div>     
                    </article>
                    <article>          
                        <div class="noticia">
                            <img src="../img/noticias/noticia6.jpg" alt="zverev y thiem" class="anchoImgNoticias">
                            <h3>Título de la noticia</h3>
                            <p>El WTA 500 San José 2022 que se celebra del 1 al 7 de agosto acogerá a algunas de las principales figuras mundiales del circuito y promete espectáculo, erigiéndose en un evento clave en la preparación de cara al US Open 2022. Además de la invitación...</p>
                        </div>                
                    </article>
                    <article>
                        <div class="noticia">
                            <img src="../img/noticias/noticia4.jpg" alt="gonzalez posando con la medalla" class="anchoImgNoticias">
                            <h3>Título de la noticia</h3>
                            <p>Los desequilibrios en las ganancias económicas entre hombres y mujeres continúan y esta semana en Hamburgo se vive una situación curiosa en cuanto al prize money. Es cierto que el torneo masculino tiene una categoría superior al femenino, con...</p>
                        </div>                  
                    </article>
                </div>
                <div class="navegacion">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">Siguiente</a>
                        </li>
                      </ul>
                    </nav>
                </div>
            </section>          
        </main>
      <footer>        
            <!-- Logo y redes sociales -->
            <div class="contenedorFooter">           
                <div class="centrarContenido contenidoVertical">
                    <div class="logoFooter">
                        <img src="../img/logo.png" alt="logo de la academia">
                    </div>
                    <div class="redes">
                        <div class="botonRedesFooter"><a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="imagen con link a facebook"></a></div>
                        <div class="botonRedesFooter"><a href="https://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="imagen con link a instagram"></a></div>
                        <div class="botonRedesFooter"><a href="https://www.whatsapp.com" target="_blank"><img src="../img/whatsapp.png" alt="imagen con link a whatsapp"></a></div>
                    </div>
                </div>
                <!---------------------------------------->
                
                <!-- Bloque de información de contacto -->
                <div class="contFooter">
                    <div class="bloqueFooter">
                        <h3>Encontranos</h3>
                        <p><b>Dirección:</b> calle 154 N° 415, Buenos Aires</p>
                        <p><b>Teléfono:</b> 0221-4515421</p>
                        <p><b>Días y horarios:</b> Lun a Lun 8 a 22hs</p>
                        <p><b>Email</b>: academiarf@gmail.com</p>
                    </div>

                    <div class="bloqueFooter">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.1702759588375!2d-58.00949884903127!3d-34.95234068027436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2c2a9ed1722fb%3A0xea7d0002aa49d1ed!2sTenis%20Club%20La%20Plata!5e0!3m2!1ses!2sar!4v1653872099376!5m2!1ses!2sar" width=auto height=auto style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div> 
                <!---------------------------------------->
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>         
    </body>
</html>