<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ranking de jugadores interino</title>
        <meta name="description" content="Ranking Femenino y Masculino interino de la Academia">
        <meta name="keywords" content="Tenis,academia de tenis,aprendizaje,deporte,entrenamiento,competición,ranking">
        <link rel="shortcut icon" href="../img/favicon.png">
        <!-- Bootstrap --> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Mi css -->
        <link rel="stylesheet" href="../estilo/main.css">
    </head>

    <body>
        <!-- Inicio NAV -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="" class="tamLogo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a class="nav-link agrandar" aria-current="page" href="../index.html">Principal</a>
                <a class="nav-link agrandar" href="historia.html">Historia</a>
                <a class="nav-link agrandar" href="noticias.html">Noticias</a>
                <a class="nav-link agrandar" href="actividades.html">Actividades</a>
                <a class="nav-link active agrandar" href="ranking.html">Ranking</a>
                <a class="nav-link agrandar" href="contacto.html">Contacto</a>
                <a class="nav-link agrandar" aria-current="page" href="index.html"><img src="../img/facebook.png" class="tamIconos"></a>
                <a class="nav-link agrandar" aria-current="page" href="index.html"><img src="../img/instagram.png" class="tamIconos"></a>
                <a class="nav-link agrandar" aria-current="page" href="index.html"><img src="../img/whatsapp.png" class="tamIconos"></a>
              </div>
            </div>
          </div>
        </nav>
        <!-- Fin NAV -->

        <aside>
            <h4>NOS APOYAN</h4>
            <div id="contSponsor">
                <div id="sponsor">
                    <img src="../img/1.png" alt="">
                </div>
                <div id="sponsor">
                    <img src="../img/2.png" alt="">
                </div>
                <div id="sponsor">
                    <img src="../img/3.png" alt="">
                </div>
                <div id="sponsor">
                    <img src="../img/4.png" alt="">
                </div>
                <div id="sponsor">
                    <img src="../img/5.png" alt="">
                </div>
                <div id="sponsor">
                    <img src="../img/6.png" alt="">
                </div>
            </div>        
        </aside>

        <main class="mainRanking">
            <section class="fondo1">
                <div id="encabezadoRanking">
                    <h1>Ranking interino</h1>
                </div>              
                <div class="contenedorRanking justify-content">                  
                    <div class="cuadroRanking">
                        <div id="tituloRanking">
                            <h2>Masculino</h2>
                        </div>
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntos</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td><img src="../img/ranking/1.png" alt="">Peredes, Juan Manuel</td>
                              <td>7580</td>
                            </tr>
                               <th scope="row">2</th>
                              <td><img src="../img/ranking/1.png" alt="">Stards, Diego</td>
                              <td>7480</td>
                            </tr>
                            <tr>
                               <th scope="row">3</th>
                              <td><img src="../img/ranking/1.png" alt="">Sanchez, Marcelo Germán</td>
                              <td>7280</td>
                            </tr>
                            <tr>
                               <th scope="row">4</th>
                              <td><img src="../img/ranking/1.png" alt="">Gonzalez, Hugo</td>
                              <td>7080</td>
                            </tr>
                            <tr>
                               <th scope="row">5</th>
                              <td><img src="../img/ranking/1.png" alt="">Rodriguez, Juan Ignacio</td>
                              <td>6580</td>
                            </tr>
                            <tr>
                               <th scope="row">6</th>
                              <td><img src="../img/ranking/1.png" alt="">Peredes, Pedro</td>
                              <td>6510</td>
                            </tr>
                            <tr>
                               <th scope="row">7</th>
                              <td><img src="../img/ranking/1.png" alt="">Gentalis, Ignacio</td>
                              <td>6200</td>
                            </tr>
                            <tr>
                               <th scope="row">8</th>
                              <td><img src="../img/ranking/1.png" alt="">Sorretz, Carlos</td>
                              <td>6075</td>
                            </tr>
                            <tr>
                               <th scope="row">9</th>
                              <td><img src="../img/ranking/1.png" alt="">Carlan, Roberto</td>
                              <td>6000</td>
                            </tr>
                            <tr>
                               <th scope="row">10</th>
                              <td><img src="../img/ranking/1.png" alt="">Mendez, Martin</td>
                              <td>5900</td>
                            </tr>
                            <tr>
                          </tbody>
                        </table>
                    </div>
                           
                    <div class="cuadroRanking">
                        <div id="tituloRanking">
                            <h2>Femenino</h2>
                        </div>
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Nombre</th>
                              <th scope="col">Puntos</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td><img src="../img/ranking/m1.png" alt="">Mendoza, Ana María</td>
                              <td class="centrarTabla">8900</td>
                            </tr>
                               <th scope="row">2</th>
                              <td><img src="../img/ranking/m1.png" alt="">Bringolf, María</td>
                              <td>6600</td>
                            </tr>
                            <tr>
                               <th scope="row">3</th>
                              <td><img src="../img/ranking/m1.png" alt="">Sanchez, Carla</td>
                              <td>5100</td>
                            </tr>
                            <tr>
                               <th scope="row">4</th>
                              <td><img src="../img/ranking/m1.png" alt="">Gentile, Vanesa</td>
                              <td>4560</td>
                            </tr>
                            <tr>
                               <th scope="row">5</th>
                              <td><img src="../img/ranking/m1.png" alt="">Rodriguez Peña, Romina Marcela</td>
                              <td>4300</td>
                            </tr>
                            <tr>
                               <th scope="row">6</th>
                              <td><img src="../img/ranking/m1.png" alt="">Peredes, Rafaela</td>
                              <td>4200</td>
                            </tr>
                            <tr>
                               <th scope="row">7</th>
                              <td><img src="../img/ranking/m1.png" alt="">Gentalis, Melisa</td>
                              <td>3400</td>
                            </tr>
                            <tr>
                               <th scope="row">8</th>
                              <td><img src="../img/ranking/m1.png" alt="">Sorretz, Carlos</td>
                              <td>3320</td>
                            </tr>
                            <tr>
                               <th scope="row">9</th>
                              <td><img src="../img/ranking/m1.png" alt="">Sorretz, Sofía</td>
                              <td>3100</td>
                            </tr>
                            <tr>
                               <th scope="row">10</th>
                              <td><img src="../img/ranking/m1.png" alt="">Carlan, Clara</td>
                              <td>3080</td>
                            </tr>
                            <tr>
                          </tbody>
                        </table>
                    </div>
                </div>                              
            </section>
        </main>

       <footer>        
            <!-- Logo y redes sociales -->
            <div class="contenedorFooter">           
                <div class="centrarContenido contenidoVertical">
                    <div class="logoFooter">
                        <img src="../img/logo.png" alt="logo de la academia">
                    </div>
                    <div class="redes">
                        <div class="botonRedesFooter"><a href="https://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="imagen con link a facebook"></a></div>
                        <div class="botonRedesFooter"><a href="https://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="imagen con link a instagram"></a></div>
                        <div class="botonRedesFooter"><a href="https://www.whatsapp.com" target="_blank"><img src="../img/whatsapp.png" alt="imagen con link a whatsapp"></a></div>
                    </div>
                </div>
                <!---------------------------------------->
                
                <!-- Bloque de información de contacto -->
                <!--<div class="centrarContenido contenidoHorizontal" style="background-color: white;">-->
                <div class="contFooter">
                    <div class="bloqueFooter">
                        <h3>Encontranos</h3>
                        <p><b>Dirección:</b> calle 154 N° 415, Buenos Aires</p>
                        <p><b>Teléfono:</b> 0221-4515421</p>
                        <p><b>Días y horarios:</b> Lun a Lun 8 a 22hs</p>
                        <p><b>Email</b>: academiarf@gmail.com</p>
                    </div>

                    <div class="bloqueFooter">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3270.1702759588375!2d-58.00949884903127!3d-34.95234068027436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2c2a9ed1722fb%3A0xea7d0002aa49d1ed!2sTenis%20Club%20La%20Plata!5e0!3m2!1ses!2sar!4v1653872099376!5m2!1ses!2sar" width=auto height=auto style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div> 
                <!---------------------------------------->
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>         
    </body>
</html>