@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400&display=swap");
.textBold {
  font-weight: 600; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.textLeft {
  text-align: left; }

.fuenteTitulo {
  font-family: "Oswald", sans-serif; }

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, sans-serif;
  box-sizing: border-box; }

h1, h2, h3 {
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  color: black;
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 600; }

h4 {
  padding-top: 10px;
  font-family: "Oswald", sans-serif, sans-serif;
  color: lightgrey;
  font-size: 1em;
  text-align: center; }

p {
  font-family: "Roboto", sans-serif, sans-serif;
  text-align: justify;
  padding-top: 8px; }

table {
  cursor: pointer; }

.centrarContenido {
  display: flex;
  align-items: center; }

.contenidoVertical {
  flex-direction: column; }

.contenidoHorizontal {
  flex-direction: row; }

.fondo1 {
  background-image: url("../img/header.png"); }

.sinPadding {
  padding: 0px; }

.justify-content-center {
  justify-content: center; }

.centrarTexto {
  text-align: center; }

.sinTop {
  margin-top: 0px; }

.cursorPointer {
  cursor: pointer; }

body {
  background-color: #212121;
  display: grid;
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "nav"  "header" "main"  "aside" "pie"; }
  body .contenedorNoticias {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    body .contenedorNoticias .noticia, body .contenedorNoticias .noticiaDestacada {
      margin-top: 20px;
      background-color: white;
      cursor: pointer;
      padding: 15px;
      width: 100%;
      border-radius: 5px; }
      body .contenedorNoticias .noticia:hover, body .contenedorNoticias .noticiaDestacada:hover {
        transform: scale(1.04);
        cursor: pointer;
        transition: transform 0.8s; }
      body .contenedorNoticias .noticia img, body .contenedorNoticias .noticiaDestacada img {
        width: 100%; }
      body .contenedorNoticias .noticia h3, body .contenedorNoticias .noticiaDestacada h3 {
        color: #191919;
        text-shadow: 1px 1px #fafafa; }
    body .contenedorNoticias .noticiaDestacada {
      border-width: 3px;
      border-style: solid;
      border-color: rgba(120, 120, 120, 0.3);
      width: 100%; }
      body .contenedorNoticias .noticiaDestacada h3 {
        color: orange; }

@media (min-width: 767px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #212121;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav nav"  "header header" "main aside"  "pie pie"; }
    body .contenedorNoticias {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      body .contenedorNoticias .noticia, body .contenedorNoticias .noticiaDestacada {
        margin: 15px;
        width: 94%;
        padding: 20px; } }

main {
  padding: 15px;
  grid-area: main;
  background-color: #e5e5e5; }

aside {
  width: 100%;
  grid-area: aside; }
  aside #contSponsor {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around; }
  aside #sponsor {
    width: 100%;
    padding: 15px; }
  aside #sponsor img {
    width: 100%;
    cursor: pointer; }
  aside #sponsor h3 {
    color: darkgray; }

@media (min-width: 767px) {
  aside {
    width: 100%;
    padding: 10px;
    background-color: #14213d; }
    aside #contSponsor {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: space-between; } }

/*Ranking*/
.mainRanking {
  padding: 0px; }
  .mainRanking #encabezadoRanking {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14213d; }
    .mainRanking #encabezadoRanking h1 {
      color: white; }

.contenedorRanking {
  max-resolution: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  background-image: url(../img/ranking/fondo.jpg);
  background-size: 100%; }
  .contenedorRanking #tituloRanking {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 55px;
    background-color: #233a6b; }
    .contenedorRanking #tituloRanking h2 {
      width: 100%;
      color: white; }
  .contenedorRanking .cuadroRanking {
    overflow: hidden;
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px 5px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    margin-left: 0px; }
    .contenedorRanking .cuadroRanking table {
      margin-top: 10px;
      vertical-align: middle; }
      .contenedorRanking .cuadroRanking table th {
        background-color: orange;
        color: #233a6b; }
      .contenedorRanking .cuadroRanking table td {
        font-family: "Oswald", sans-serif;
        font-size: 1.2em;
        vertical-align: middle;
        text-align: left; }
        .contenedorRanking .cuadroRanking table td img {
          padding-right: 15px; }

.justify-content {
  justify-content: space-around; }

@media (min-width: 767px) {
  .contenedorRanking {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row; }
    .contenedorRanking .cuadroRanking {
      width: 35%;
      padding: 15px;
      margin-top: 0px; } }

/*Fin Ranking*/
/*Historia*/
.cuerpoHistoria #tituloHistoria {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 10px; }

.cuerpoHistoria #contenidoHistoria {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px; }

.cuerpoHistoria .fondoHistoria {
  background-image: url(../img/historia/fondo.png);
  padding: 10px; }
  .cuerpoHistoria .fondoHistoria h2 {
    color: white; }
  .cuerpoHistoria .fondoHistoria .contHistoria {
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
    padding: 15px; }
    .cuerpoHistoria .fondoHistoria .contHistoria h3 {
      color: orange; }
    .cuerpoHistoria .fondoHistoria .contHistoria .card {
      color: black;
      margin-right: 20px;
      width: 100%;
      cursor: pointer; }

@media (min-width: 767px) {
  .cuerpoHistoria {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #212121;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "nav"  "header" "main"  "pie"; }
    .cuerpoHistoria .fondoHistoria {
      padding: 50px; }
      .cuerpoHistoria .fondoHistoria .contHistoria {
        padding: 25px; }
        .cuerpoHistoria .fondoHistoria .contHistoria .card {
          width: 25rem; } }

/*Fin historia*/
/*Noticias*/
.barraNoticias {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 0px; }
  .barraNoticias .noticiasMasLeidas .tituloMasLeidas {
    background-color: orange;
    height: 40px;
    vertical-align: middle; }
    .barraNoticias .noticiasMasLeidas .tituloMasLeidas h4 {
      color: white; }
    .barraNoticias .noticiasMasLeidas .tituloMasLeidas ul li .list-group-item {
      font-family: "Oswald", sans-serif; }
  .barraNoticias #contSponsor {
    height: 100%; }
    .barraNoticias #contSponsor #sponsor img {
      width: 100%; }

.list-group-item {
  font-family: "Oswald", sans-serif; }

.tituloNoticias .blanco {
  color: white; }

.navegacion {
  margin-top: 15px;
  cursor: pointer; }

@media (min-width: 767px) {
  .cuerpoNoticia {
    grid-template-columns: 85% 15%; }
  .barraNoticias #contSponsor {
    text-align: center; }
    .barraNoticias #contSponsor #sponsor img {
      width: 60%; } }

/*Fin Noticias*/
/*Inicio Actividades*/
#actividades {
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 150px 0px 150px 0px;
  display: flex;
  align-items: center;
  justify-content: center; }
  #actividades #actividadesContenido {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 90%;
    padding: 20px;
    font-size: 1em; }
    #actividades #actividadesContenido .izquierda {
      margin-left: 0; }
    #actividades #actividadesContenido .derecha {
      margin-left: 0; }
    #actividades #actividadesContenido h1 {
      color: orange; }
    #actividades #actividadesContenido h2 {
      color: orange; }

.fondoActividades1 {
  background-image: url(../img/actividades1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.fondoActividades2 {
  background-image: url(../img/actividades2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.fondoActividades3 {
  background-image: url(../img/actividades3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.fondoActividades4 {
  background-image: url(../img/actividades4.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

@media (min-width: 767px) {
  #actividades #actividadesContenido {
    width: 60%;
    padding: 30px; }
    #actividades #actividadesContenido p {
      font-size: 1.2em; }
  .izquierda {
    margin-left: -30%; }
  .derecha {
    margin-left: 30%; } }

/*Fin Actividades*/
/*Contacto*/
#fondoContacto {
  background-image: url("../img/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px; }
  #fondoContacto #contenedorContacto {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px; }
    #fondoContacto #contenedorContacto .tituloContacto {
      border-bottom: 1px solid white;
      margin-bottom: 25px; }
      #fondoContacto #contenedorContacto .tituloContacto h1 {
        color: orange; }
      #fondoContacto #contenedorContacto .tituloContacto p {
        color: white; }
    #fondoContacto #contenedorContacto .boton {
      background-color: orange;
      border-style: none;
      width: 180px;
      font-family: "Oswald", sans-serif;
      font-size: 1.2em; }

@media (min-width: 767px) {
  #fondoContacto {
    padding: 25px; }
    #fondoContacto #contenedorContacto {
      padding: 50px; } }

/*Fin Contacto*/
footer {
  grid-area: pie;
  background-color: orange;
  padding: 20px;
  color: black; }
  footer .contenedorFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
  footer .logoFooter img {
    width: 4.5em;
    text-align: center; }
  footer .contFooter {
    margin-top: 25px;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    background-color: white; }
  footer .redes {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px; }
  footer .botonRedes {
    padding: 3px;
    cursor: pointer; }
  footer .botonRedes img {
    width: 80%; }
  footer .botonRedesFooter {
    padding: 3px;
    cursor: pointer;
    margin-top: 25px; }
    footer .botonRedesFooter:hover {
      transform: scale(1.06);
      cursor: pointer;
      transition: transform 0.8s; }
  footer .botonRedesFooter img {
    width: 80%; }

@media (min-width: 767px) {
  footer .bloqueFooter {
    margin-top: 0px;
    padding: 20px;
    height: 270px; }
  footer .contenedorFooter {
    height: 100%;
    padding: 45px 25px;
    padding-top: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  footer .centrarContenido {
    justify-content: space-between; }
  footer .contFooter {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: white; } }

nav {
  grid-area: nav; }
  nav .tamIconos {
    width: 25px;
    height: 25px; }
  nav .tamLogo {
    width: 32px;
    height: 30px; }
  nav .agrandar:hover {
    transform: scale(1.06);
    cursor: pointer;
    transition: transform 0.8s; }

header {
  grid-area: header;
  background-color: white;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header .contenedorHeader {
    height: 100%;
    display: flex; }
    header .contenedorHeader .textoHeader {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      width: 100%;
      padding: 20px; }
      header .contenedorHeader .textoHeader h1 {
        color: white; }

@media (min-width: 767px) {
  header .contenedorHeader {
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px; }
    header .contenedorHeader .textoHeader {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      width: 40%;
      padding: 20px; }
      header .contenedorHeader .textoHeader h1 {
        color: orange; } }

header {
  animation-name: headerAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: cover; }

@keyframes headerAnimation {
  0% {
    background-image: url(../img/header.jpg); }
  25% {
    background-image: url(../img/actividades1.jpg); }
  50% {
    background-image: url(../img/actividades2.jpg); }
  75% {
    background-image: url(../img/actividades3.jpg); }
  100% {
    background-image: url(../img/fondo2.jpg); } }
